{% extends 'default.html' %}
{% load bootstrap4 %}
{% load static %}

{% block title %}Create{% endblock title %}

{% block content %}
    <!-- Заголовок страницы -->
    <br>
    <h3 class="mb-4">Новое объявление</h3>

    <!-- Форма создания объявления -->
    <form method="post" enctype="multipart/form-data" class="mb-3">
        {% csrf_token %}
        {{ form.media }}
        {{ form.as_p }}
        <input class="btn btn-primary" type="submit" value="Сохранить">
    </form>

    <!-- Кнопка возврата -->
    <input type="button" value="Назад" class="btn btn-outline-secondary" onClick="javascript:history.go(-1);">
{% endblock content %}


